/*******************************
Global
*******************************/

@font-face {
  font-family: 'proxima_nova_alt_regular';
  src: url(../fonts/proxima_nova_alt_regular-webfont.eot);
  src: url(../fonts/proxima_nova_alt_regular-webfont.eot?#iefix) format('embedded-opentype'),
       url(../fonts/proxima_nova_alt_regular-webfont.woff) format('woff'),
       url(../fonts/proxima_nova_alt_regular-webfont.ttf) format('truetype'),
       url(../fonts/proxima_nova_alt_regular-webfont.svg#proxima_nova_alt_regular) format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: 'proxima_nova_alt_regular', sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.container {
  padding: 0 10px 10px;
}

.ui.menu.no-border {
  border-radius: 0;
}