<div class="ui pointing small inverted menu no-border">
  <%= link_to raw("<i class=\"home icon\"></i> Home"), root_path, :class => 'item' %>

  <div class="right menu">
    <%= link_to raw("<div class=\"ui red button\"><i class=\"lock icon\"></i> Register</div>"), new_user_registration_path, :class => 'item' %>
    <%= link_to raw("<i class=\"user icon\"></i> Sign in"), new_user_session_path, :class => 'item' %>
  </div>
</div>